@import './variables.scss';

// ========== BASE HTML STYLING ========== //

html, body {
    font-family: $font, sans-serif;
    font-size: 15px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
  background-image: url('../images/leaves.png');
  // background-size: cover;
  // background-color: 
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

// ========== HAVING SOME FUN WITH MEDIA QUERIES ========== //
@media only screen and (max-width: 600px) {
  .skill-section {
    .skill-cards {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 10px 10px;
      justify-content: space-between;
      margin-bottom: 30px;
      
      h4 {
        margin: 0;
      }
    }
  }
}

// ========== ACTUAL COMPONENTS STYLING ========== //

.router {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  height: 700px;
}

.navigation {
  // background-color: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 550;

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 30px;

    .nav-item {
      padding: 15px;
      margin: 0 5px;
      color: $primary;
      text-decoration: none;
      letter-spacing: 0.5em;
      text-indent: 0.5em;

      &.active {
        border-bottom: 3px solid $primary;
      }

      &:hover {
        border-bottom: 3px solid $primary;
      }
    }
  }
}

.content-wrapper {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.50);
  height: 85%;
  border-radius: 0px 0px 10px 10px;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

// general home page
.home {
  .face-wrapper {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 25px;
    max-width: 150px;

    .links {
      font-size: 40px;
      display: flex;
      justify-content: space-between;
      margin: 15px;

      a {
        padding: 5px;
      }
    }
    
    .my-face {
      width: 100%;
      border-radius: 10px;
    }
  }

  // .about-me {}
}

// skill cards
.skills {
  h3 {
    text-transform: uppercase;
  }

  hr {
    margin: 30px 0px;
    border-style: solid;
    // color: $primary; 
  }

  .skill-section {
    .skill-cards {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      grid-gap: 10px 10px;
      justify-content: space-between;
      margin-bottom: 30px;
      
      h4 {
        margin: 0;
      }
    }
  }
}

.skill-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.90);
  border: 1px solid $secondary;

  &:hover {
    background-color: $secondary;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  } 

  .skill-info {
    display: flex;
    flex-direction: column;
    
    .skill-name {
      font-weight: bold;
    } 

    .skill-exp {
      font-size: 12px;
      margin-top: 5px;
      color: $primary;
      span {
        margin-right: 3px;
        &:last-child {
          margin: 0px;
        }
      }
    }
  }
}

.button-text {
  border: none;
  color: $primary;
  cursor: pointer;
  
  &:hover {
    background-color: $secondary;
  }
}
