@import './variables.scss';

html, body {
    font-family: $font, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
  background-image: url('../images/space-bg.jpg');
  background-size: cover;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.router {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  min-width: 300px;
  height: 600px;
}

.navigation {
  background-color: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  border-radius: 10px 10px 0px 0px;

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    .nav-item {
      margin: 5px 15px;

      .nav-item-link {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.content-wrapper {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.75);
  height: 85%;
  border-radius: 0px 0px 10px 10px;
}

.home {
  .face-wrapper {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 25px;

    .links {
      font-size: 40px;
      display: flex;
      justify-content: space-between;
      margin: 15px;
    }
    
    .my-face {
      max-width: 150px;
      border-radius: 10px;
    }
  }

  // .about-me {}
}



.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h4 {
    margin: 0;
  }
}
