@import "tailwindcss";

@theme inline {
  /* Color tokens */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.375rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.455427 0.186178 356.5493);
  --card: oklch(0.9606 0.0282 324.03);
  --card-foreground: oklch(0.4171 0.1844 325.28);
  --popover: oklch(1 0 0);
  --popover-foreground: #131211;
  --primary: oklch(0.9579 0.0208 21.17);
  --primary-foreground: oklch(0.6918 0.1956 27);
  --secondary: oklch(0.9525 0.0373 151.4);
  --secondary-foreground: oklch(0.4567 0.1016 146.53);
  --muted: #e7e6e4;
  --muted-foreground: #32302e;
  --accent: oklch(84.414% 0.06471 272.353);
  --accent-foreground: oklch(61.998% 0.16825 271.872);
  --destructive: oklch(0.5607 0.2171 25.02);
  --success: oklch(0.7523 0.2032 146.42);
  --warning: oklch(0.656 0.2304 28.39);
  --border: #e7e6e4;
  --input: #c3bdb9;
  --ring: #9c9793;
}

[data-theme="dark"] {
  /* Dark mode colors */
  --background: #16151e;
  --foreground: #f0f0f0;
  --card: #23242e;
  --card-foreground: #f0f0f0;
  --popover: #23242e;
  --popover-foreground: #f0f0f0;
  --primary: hsl(40.08, 100%, 60%);
  --primary-foreground: #6e4900;
  --secondary: #d7dcff;
  --secondary-foreground: #00226e;
  --muted: #32302e;
  --muted-foreground: #c3bdb9;
  --accent: hsl(234.55, 13.58%, 25%);
  --accent-foreground: #a5b2ff;
  --destructive: hsl(352.77, 92.56%, 60%);
  --success: hsl(104.23, 79.59%, 40%);
  --warning: #ffa45a;
  --border: hsl(234.55, 13.58%, 30%);
  --input: hsl(234.55, 13.58%, 35%);
  --ring: hsl(234.55, 13.58%, 30%);
}

@layer base {
  * {
    @apply border-border outline-ring/50 antialiased;
    font-family: var(--font-sans);
  }

  body {
    @apply bg-background text-foreground;
  }
}
